# Put inside of your server config
        location /s {
                # Common optimizations
                gzip on;
                gzip_types text/css text/javascript image/svg+xml;
                #gzip_types text/plain text/css image/x-icon image/svg+xml text/javascript text/js application/javascript application/x-javascript;
                #Note: images [image/png image/jpg image/jpeg] may contain large text meta data, but not in the case of optimized ones

                # Optimizations for /s only
                #access_log off;
                etag off;
                expires off;
                add_header Last-Modified "";
                add_header Cache-Control "public, max-age=604800";
                add_header Vary "Accept-Encoding";
                location ~ \.(js|css)$ {
                        if ($http_accept_encoding ~ "gzip") {
                                set $gz 1$gz;
                        }
                        if (-f $request_filename.gz) {
                                set $gz 2$gz;
                        }
                        if ($gz = "21") {
                                rewrite ^/(.*)$ /$1.gz last;
                        }
                }
                location ~ \.svg$ {
                        if ($http_accept_encoding ~ "gzip") {
                                set $gz 1$gz;
                        }
                        if ($request_filename ~ "^(.*).svg$") {
                                set $basename $1;
                        }
                        if (-f $basename.gz) {
                                set $gz 2$gz;
                        }
                        if ($gz = "21") {
                                rewrite ^/(.*)\.svg$ /$1.svgz last;
                        }
                }
                location ~ \.(gz|svgz)$ {
                        gzip off;
                        add_header Content-Encoding gzip;
                        add_header Last-Modified "";
                        add_header Cache-Control "public, max-age=604800";
                        add_header Vary "Accept-Encoding";
                        location ~ \.css\.gz {
                                default_type text/css;
                                type { text/css gz; }
                        }
                        location ~ \.js\.gz {
                                default_type text/javascript;
                                type { text/javascript gz; }
                        }
                        location ~ \.svgz {
                                default_type image/svg+xml;
                                type { image/svg+xml svgz; }
                        }
                }
        }
